
* {
  margin: 0;
  padding: 0;
  transition: all .1s ease-in;
}

.bhromaon {
    min-height: 820px;
  background-image: url(/img/Image.png);
  -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
  height: 100%;
  background-size: cover;
  min-width: 1200px;
  max-width: 1700px;
  font-family: 'Josefin Sans', sans-serif;
}
*{
  box-sizing:border-box;
}
body{
  background:#574ab9;
}
form{
margin: auto;
padding-top: 40px;
   width:50%;
   }
input[type=text]{
     width:75%;
  padding:15px;
  border:none;
  font-size:18px;
  font-family:sans-serif;
  border-radius:5px 0 0 5px;
} 
input[type=submit]{
     padding:10px;
  border: white 5px solid;
  font-size:18px;
  font-family:sans-serif;
  background:#574ab9;
  color:white;
  border-radius:0px 5px 5px 0px;
  cursor:pointer;
  position:absolute;
} 
::placeholder {
    text-align: center;
}
@media screen and (max-width:600px){
    form{
      margin:0;
   
 }

     input[type=text]{
        width:100%;
     border-radius:5px;
     padding:10px;
  }
  input[type=submit]{
        border-radius:5px;
     width:100%;
     position:static;
     margin-top:5px;
     padding:10px;
  }
}
  .bhromaon_words_h {
    text-align: center;
    padding-top: 5%;
    font-size: 60px;
  }
  .bhromaon_words_p {
    text-align: center;
    padding-top: 0%;
    font-size: 40px;
  }
  .bhromaon_search {
     padding-top: 30px; 
     padding-left: 90px;
  }
  a {
      text-decoration: none; 
  }

     A:visited {
      color: #cecece;
     }
     A:active {
      color: #cecece; 
     }
  .arow {
      
      width: 30px;
      height: 15px;
  }
  .scroll {
      padding-top: 150px;
margin: auto;
text-align: center;
font-family: 'Josefin Sans', sans-serif;
    z-index: 99999999999;
    font-size: 25px;
       }
       .bhromaon_menu {
         background-color: #574ab9;
         padding:15px;
         margin-top: 500px;
         
       }
       .bhromaon_menu_logo {
           font-size: 25px;
           padding-left: 20px;
           padding-top: 5px;
       }
       .hr {
           color: white;
           float: right;

       }
       ul.hr {
        margin: 0;
        padding: 4px; 
       }
       ul.hr li {

        display: inline;
        margin-right: 50px;
        padding: 3px;
       }
       .choose {
           display:flex;
              min-height: 820px;
            background-image: url(/img/eveningcity.jpg);
            -moz-background-size: 100%; /* Firefox 3.6+ */
              -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
              -o-background-size: 100%; /* Opera 9.6+ */
              background-size: 100%; /* Современные браузеры */
            height: 100%;
            background-size: cover;
            min-width: 1200px;
            max-width: 1700px;
       }
       .choose_words_p {
          font-family: 'Josefin Sans', sans-serif;
          width:100%;
          font-size: 20px;
         
       }
       .choose_words_h {
          font-family: 'Aleo', serif;
          width:100%;
          font-size: 50px;
          padding-bottom: 50px;
       }
       .choose_words {
           padding-left: 150px;
           font-size: 25px;
           padding-top: 20%;
       }
       .choose_img {
           flex-wrap: wrap;
           padding-left: 100px;
           padding-top: 170px;
       }
       .choose_img_second {
           padding-left: 120px;
       }
       .button {
          background-color: #5474fd;
          border: none;
          width: 40%;
          color: white;
          padding: 15px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          height:60px;
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 26px;
          font-family: "Aleo";
          font-weight: 400;
        }
        .button:hover {
          transform: scale(1.1);
        }
        .choose_words_button {
            padding-top: 30px;
        }
        .modern {
          background-image: url(/img/modernhouse.jpg);
          display:flex;
        -moz-background-size: 100%; /* Firefox 3.6+ */
          -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
          -o-background-size: 100%; /* Opera 9.6+ */
          background-size: 100%; /* Современные браузеры */
        height: 100%;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 1700px;
        }
        .modern {
          padding-left: 50px;
          padding-top: 50px;
          padding-bottom: 40px;
        }
        .modern_words_p2 {
          font-size: 16px;
line-height: 26px;
color: #e8e8e8;
width: 100%;
font-family: "Josefin Sans";
padding-bottom: 2%;
        }
        .modern_words_h {
          font-size: 20px;
line-height: 26px;
color: #fefefe;
font-family: "Josefin Sans";
padding-bottom: 2%;
        }
        .modern_words_p1 {
        font-size: 20px;
letter-spacing: 2px;
line-height: 26px;
color: #e8e8e8;
font-family: "Josefin Sans";
        }
       .modern_words {
         background-color: rgb(49, 43, 39, 0.7);
         padding: 15px;
         width: 45%;
         height: 45%;
       }
       .mount {
         background-image: url(/img/cliffs.jpg);
         min-height: 375px;
         -moz-background-size: 100%; /* Firefox 3.6+ */
           -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
           -o-background-size: 100%; /* Opera 9.6+ */
           background-size: 100%; /* Современные браузеры */
         height: 100%;
         background-repeat: no-repeat;
         width: 100%;
         max-width: 1700px;
       }
       .mount_words {
        background-color: rgb(49, 43, 39, 0.7);
        padding: 15px;
        width: 45%;
        height: 45%;
        float:right;
        
       }
       .mount_words_p1 {
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 26px;
        color: #e8e8e8;
        font-family: "Josefin Sans";
        padding-bottom: 2%;
       }
       .mount_words_p2 {
       font-size: 16px;
        line-height: 26px;
        color: #e8e8e8;
        width: 100%;
        font-family: "Josefin Sans"; 
       }
       .mount_words_h {
         padding-bottom: 2%;
        font-size: 20px;
        line-height: 26px;
        color: #fefefe;
        font-family: "Josefin Sans";
        
       }
       .mount {
        padding-right: 50px;
        padding-top: 50px;
      }
      .tourist {
        background-image: url(/img/man.png);
        min-height: 720px;
        -moz-background-size: 100%; /* Firefox 3.6+ */
          -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
          -o-background-size: 100%; /* Opera 9.6+ */
          background-size: 100%; /* Современные браузеры */
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 1700px;
      }
      .tourist_quote {
        display:flex;
        margin: auto;
        padding-left: 4%;
        padding-right: 4%;
      }
      .tourist_quote_words_h {
        font-size: 20px;
        line-height: 26px;
        color: #fefefe;
        font-family: "Josefin Sans";
      }
      .tourist_quote_words_p {
        font-size: 16px;
        line-height: 26px;
        color: #e8e8e8;
        width: 80%;
        font-family: "Josefin Sans";
      }
      .tourist_word_h1 {
        padding-top: 8%;
        text-align: center;
        font-size: 36px;
        padding-bottom: 8%;
line-height: 26px;
color: #ffffff;
font-family: "Aleo";
font-weight: 400;
text-align: center;
      }
      .tourist_quote_words{
        padding-left: 3%;
        padding-right: 3%;
        background-color: rgb(51, 51, 51, 0.7);
      }
      .tourist_quote_words_h {
        padding-top: 2%;
        padding-bottom: 2%;
      }
      .end {
        background-color: #232323;
        height: 100%;
      }
      .end_words_h {
        text-align: center;
        padding-top: 5%;
        font-size: 30px;
        padding-bottom: 2%;
        padding-top: 2%;
      }
      .end_words_p {
        text-align: center;
        padding-top: 0%;
        font-size: 20px;
      }
      .fas {
        color: white;
      }